@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600;700&display=swap');


* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}


body {
    height: 100vh;
    background: linear-gradient(#1c1917 50%, #e03131fa 50% );

}

.container{
    font-size: 16px;
    width: 90vw;
    max-width: 37.5em;
    padding: 3em 1.8em;
    background-color: #1e293b;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    border-radius: 0.6em;
    box-shadow: 1.2em 2em 3em rgba(0, 0, 0, 0.2);
}

.search-container{
    display: grid;
    grid-template-columns: 9fr 3fr;
    gap: 1.2em;
}

.search-container input, .search-container button{
    font-size: 0.9em;
    outline: none;
    border-radius: 0.3em;
}

.search-container input{
    background-color: transparent;
    border: 1px solid #a0a0a0;
    color: #fff;
    padding: 0.7em;
}


.search-container input:focus {
    border-color: #fff;
}


button{
    background-color: #f13e3ecf;
    border: none;
    cursor: pointer;
    opacity: 0.7;
    text-decoration: none;
    font-size: 1em;
}

button:hover {
    opacity: 1;

}

h1{
    font-size: 400%;
    position: relative;
    right: 0%;
    left: 40%;
    padding-top: 35px;
    color: #fff;

}

span{
    position: relative;
    color: #f13e3e;
    right: 9px;
}


li{
    position: relative;
   font-family: arial;
    text-decoration: none;
    color: #e9e6e3;
    font-size: 22px;
    left: 75%;
    list-style: none;
    display: inline;
    padding: 9px;
    top: -70px;
    opacity: 0.8;
    cursor: pointer;
}

li:hover{
    opacity: 1;
    width: 20px;
}
